
.flexAlain {
	display: flex;
}

/*This container has the header and main tags*/
.mainContainer {
	width: 100%;
}

/*The container for the main tag*/
.bodyContainer {
	padding: 20px 10px;
}

.topContainer {
	max-width: 900px;
	margin: auto;
	margin-bottom: 50px;
}

.albumContainer{
	text-align: right;
} 

.BabyFirstName {
	font-size: 40px;
}

#albumPic {
	width: 100%;
    max-width: 200px;
    cursor: pointer;
}